@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    margin: 0;
    padding: 0;
    background-color: var(--ctp-macchiato-mantle);
    color: var(--ctp-macchiato-text);
    font-family: "Jetbrains Mono";
    border-color: var(--ctp-macchiato-blue);
    border-radius: 0.5rem;
}

.start-page,
.game-page {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin: 1em;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin: 0.5em;
}

button {
    background-color: var(--ctp-macchiato-crust);
    font-size: 1.5em;
    padding: 0.5em 0.75em;
    margin: 0.5em;
}

#ready {
    font-size: 10em;
    width: 60%;
    flex: 1;
}

button:hover {
    opacity: 0.8;
}

input,
select {
    padding: 0.5em;
    margin: 0.5em;
}

p {
    text-align: center;
    line-height: 2em;
    margin: 1em;
}

.computer {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.game-square {
    background-color: var(--ctp-macchiato-surface1);
    border: 2px solid var(--ctp-macchiato-crust);
    border-radius: 0.3em;
}

.hover-attack {
    background-color: var(--ctp-macchiato-overlay1);
}

.attack-ghost,
.place-ghost {
    background-color: var(--ctp-macchiato-surface2);
}

.game-square.hover-place,
.place-ghost {
    opacity: 0.6;
}

.placed-ship {
    background-color: var(--ctp-macchiato-lavender);
}

.game-grid {
    width: 50vh;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid-container {
    width: 80%;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
}

.ship-hit {
    background-color: var(--ctp-macchiato-red);
}

.ship-miss {
    background-color: var(--ctp-macchiato-crust);
}

.ship-sunk {
    background-color: var(--ctp-macchiato-red);
    opacity: 0.4;
}

#command {
    padding: 0.2em 3em;
    border: solid var(--ctp-macchiato-text);
}
