.game-square {
    padding: 1em;
    margin: 0.1em;
    background-color: gray;
    border: solid black;
    border-radius: 0.3em;
}

.game-square.hover-attack,
.attack-ghost {
    background-color: red;
    opacity: 0.5;
}

.game-square.hover-place,
.place-ghost {
    opacity: 0.8;
}

.placed-ship {
    background-color: white;
}

.game-grid {
    width: 70vh;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid-container {
    display: flex;
    gap: 5em;
    justify-content: center;
}

.ship-hit {
    background-color: purple;
}

.ship-miss {
    background-color: black;
}
